<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  The world is your oyster.
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>

  <img src="{{myImages}}">
  <p>{{myImages}}</p>

  <button (click)="openCamera()" ion-button block>Open Camera</button>
  <button (click)="openGallery()" ion-button block>Open Gallery</button>

</ion-content>
